.noticia {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 50px;
    width: 400px;
}