


.container {
    //font-family: Arial, HElvetica, sans-serif;
    margin: 50px auto;
    //width: 400px;
    padding: 20px;
    border: 1px solid gray;
    //text-align: center;
}


p {
    background-color: red;
    color: white;
}